[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/yvijay99/fprime.git
	branch = devel_modeManager
[submodule "lib/fprime-sensors"]
	path = lib/fprime-sensors
	url = https://github.com/moisesmata/fprime-sensors
	branch = rfm-testing
