# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Moises' dev environment, (delete later)
toolchains/
scripts

# Misc
/venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov
