[submodule "lib/fprime"]
	path = lib/fprime
	url = git@github.com:nasa/fprime.git
	branch = devel
[submodule "lib/fprime-sensors"]
	path = lib/fprime-sensors
	url = https://github.com/moisesmata/fprime-sensors
	branch = rfm-testing
